@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
body{
  width: 100%;
  background-color:#F0F0F0;
  color: black;
  margin:0px auto 0px auto;
  font-family: "Century Gothic";
  font-size: 90%;
}

/*header &  navigatie*/
.header{
  width: 100%;
  height: 14em;;
  background-color: white;
  margin-bottom: 2%;
}

.welkom{
  width: 100%;
  height: 75%;
  background-color: white;
}

h1{
  padding-top: 1.5%;
  margin-left: 31%;
  font-size: 420%;
  font-family: 'Shadows Into Light', cursive;
}

h3{
  padding-top: -2%;
  margin-left: 50%;
  font-size: 200%;
  font-family: 'Shadows Into Light', cursive;
  color: mediumturquoise;
}

.nav{
  width: 100%;
  height: 25%;
  background-color: black;
}

nav{
  margin-left: 27.5%;
  padding-top: 1%;
}

nav > a{
  padding: 4%;
  margin-top: 10%;
  color: white;
  font-size: 110%;
}

nav > a:hover{
  color: mediumturquoise;
}

/*frame*/
.frame{
  margin:-2% auto 2% auto;
  width: 50%;
  height: 1950px;
}

/*linkerdeel*/
.left{
  width: 70%;
  height: 100%;
  float: left;
  background-color: #F0F0F0;
  margin-bottom: 2%;
}

.post1{
  width: 90%;
  height: 77%;
  background-color: white;
  margin: 6% auto 6% 0%;
  padding: 5%;
}

.post1 > h2{
    margin-top: -20px;
}

span{
  font-weight: bold;
  color: lightslategrey;
}

img{
  width: 99%;
  height: 25%;

}

.auteur{
  margin-top: 10%;
}

/*rechterdeel*/
.right{
  width: 25%;
  height: 100%;
  float: right;
  background-color: #F0F0F0;
  margin-bottom: 2%;
}

.over, .historiek, .nieuwtjes, .contact{
  width: 86%;
  height: 25%;
  background-color: white;
  margin: 17% auto 17% auto;
  padding: 7%;
}

.over, .contact{
  height: 17.9%;
}

.historiek, .nieuwtjes{
  height: 23.35%;
}

.greets{
  font-family: 'Shadows Into Light', cursive;
  font-size: 140%;
}

/*footer*/

.footer{
  width: 56%;
  height: 4em;
  background-color: white;
  margin:-1.95% auto 0% auto;
  padding-left: 44%;
  color: mediumturquoise;
  font-weight: bold;
}


/*opmaak teksten*/
a{
  text-decoration: none;
  color:black;
}

h2 {
  padding-bottom: 12px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 210%;
}


p > a, h4 > a, .lv{
  color: lightslategrey;
}

.lv{
  font-style: italic;
}

.lv:hover, .archieflinks > a:hover{
  font-weight: bold;
  color: mediumturquoise;
}

p{
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 120%;
}

.archieflinks{
  position: relative;
  top: -1.5%;
  left: 5%;
}

.archieflinks > a{
  font-weight: bold;
  padding-right: 5%;
}

.nieuwtjes > a:hover, .historiek > a:hover, h2 > a, h4 > a:hover, p > a:hover{
  color: mediumturquoise;
}

@media (max-width: 1600px){
  body{
    font-size: 80%;
  }
  img{
    height: 20%;
  }
}

@media (max-width: 1300px){
  img{
    height: 15%;
  }

  .post1 > h2{
      margin-top: -10px;
  }
}

@media (max-width: 800px){

  body{
    font-size: 62%;
  }

  img{
    height: 10%;
  }

  .post1 > h2{
      margin-top: -8px;
  }
}
